In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import os

In [2]:
script_directory = os.path.dirname(os.path.abspath(__file__)) if '__file__' in locals() else os.getcwd()
relative_folder_path = r"data\rangos_normales"
folder_path = os.path.join(script_directory.replace('\code', ''), relative_folder_path)
file = os.listdir(folder_path)
path = f"{folder_path}\{file[0]}"
df_root = pd.read_csv(path, sep='\t')

In [9]:
script_directory = os.path.dirname(os.path.abspath(__file__)) if '__file__' in locals() else os.getcwd()
relative_folder_path = r"data\rangos_normales"
folder_path = os.path.join(script_directory.replace('\code', ''), relative_folder_path)
file = os.listdir(folder_path)
path = f"{folder_path}\{[x for x in file if 'Eligibility' in x][0]}" 
df_normal_ranges = pd.read_csv(path, sep=';')

In [10]:
df_normal_ranges

                field  min  max  gender  age_min  age_max
0     age_eligibility   18   50     NaN      NaN      NaN
1     cuenta_lesiones    0    4     NaN      NaN      NaN
2   diametro_lesiones    0  400     NaN      NaN      NaN
3  diastolic_preasure    0   90     NaN      NaN      NaN
4   systolic_preasure  100  140     NaN      NaN      NaN
5              HR_EGC   45   90     NaN      NaN      NaN
6                QTCF    0  450     NaN      NaN      NaN

# Rangos normales code

### Accesing when gender is required

In [5]:

# Normals ranges file
script_directory = os.path.dirname(os.path.abspath(__file__)) if '__file__' in locals() else os.getcwd()
relative_folder_path = r"data\rangos_normales"
folder_path = os.path.join(script_directory.replace('\code', ''), relative_folder_path)
file = os.listdir(folder_path)
path = f"{folder_path}\{[x for x in file if 'Vital_' in x][0]}" 
df_normal_ranges = pd.read_csv(path, sep=';')

In [52]:
float(df_normal_ranges[(df_normal_ranges['field']== "Mean Platelet volume (MPV)")  & (df_normal_ranges['gender']== 1)]['max'].iloc[0])

11.9

In [6]:
float(df_normal_ranges[(df_normal_ranges['field']== "Systolic Blood Pressure")]['min'].iloc[0])

100.0

In [12]:
import pandas as pd
import numpy as np

# Create a new dummy table with the same structure as main_table
dummy_data = {
    'Id': [1, 2, 3, 4],
    'Form': [949.0, 14.0, 27.0, 28.0],
    'idCampo': [1, 2, 3, 4],
    'Site': [
        '01 PECET/Clinica CES. Medellin, Colombia',
        '01 PECET/Clinica CES. Medellin, Colombia',
        '01 PECET/Clinica CES. Medellin, Colombia',
        '01 PECET/Clinica CES. Medellin, Colombia'
    ],
    'Visit': ['Screening Visit', 'Screening Visit', 'Screening Visit', 'Screening Visit'],
    'name': [
        'Informed Consent',
        'Demographics',
        'History of cutaneous leishmaniasis',
        'History of cutaneous leishmaniasis'
    ],
    'Genero': ['Male', 'Male', 'Male', 'Male'],
    'AñoNacimiento': ['-', '-', '-', '-'],
    'NameActividad': [
        'Informed Consent',
        'Demographics',
        'History of cutaneous leishmaniasis',
        'History of cutaneous leishmaniasis'
    ],
    'activityState': ['DATA_VERIFIED', 'DATA_VERIFIED', 'DATA_VERIFIED', 'DATA_VERIFIED'],
    'fecha enrolado': [
        '2023-10-25 20:27:46', 
        '2023-10-25 20:27:46', 
        '2023-10-25 20:27:46', 
        '2023-10-25 20:27:46'
    ],
    'displayName': [4.0, 'Other', 'Microscopic identification of amastigotes in s...', 'Not available'],
    'id option': [1387, 26, 58, 61],
    'Variable': ['ICVERSION', 'RACE', 'CLDIACAT', 'CLSPECAT'],
    'visible': [np.nan, np.nan, np.nan, np.nan],
    'required': [1, 1, 1, 1],
    'TipoDato': ['CHECKBOX', 'CHECKBOX', 'CHECKBOX', 'CHECKBOX'],
    'TypeQuery': ['-', 'QUERY', '-', '-'],
    'MessageQuery': ['-', np.nan, '-', '-'],
    'QueryState': ['-', 'CLOSED', '-', '-'],
    'IdSubject': [1, 1, 1, 1]
}

# Create a DataFrame
dummy_table = pd.DataFrame(dummy_data)

# Introducing errors
# 1. Incomplete date
dummy_table.loc[0, 'Valor'] = '2023-10'

# 2. Duplicate prior screening number
dummy_table.loc[1, 'Campo'] = 'Prior screening number'
dummy_table.loc[1, 'Valor'] = '12345'
dummy_table.loc[2, 'Campo'] = 'Prior screening number'
dummy_table.loc[2, 'Valor'] = '12345'

# 3. "Was the visit performed?" set to "No"
dummy_table.loc[3, 'Campo'] = 'Was the visit performed?'
dummy_table.loc[3, 'Valor'] = '0'

# Save the dummy table as an Excel file
dummy_table_path = 'table_dummy.xlsx'
dummy_table.to_excel(dummy_table_path, index=False)

In [ ]:
df_normal_ranges.head()

,field,min,max,gender,age_min,age_max
0,"Aspartate Aminotransferase (AST), Result (U/L)",11,34,0,NaN,NaN
1,"Alanine Aminotransferase (ALT), Result (U/L)",0,45,1,NaN,NaN
2,"Alanine Aminotransferase (ALT), Result (U/L)",0,34,2,NaN,NaN
3,"Serum Creatinine, Result (mg/dL)","0,73","1,18",1,NaN,NaN
4,"Serum Creatinine, Result (mg/dL)","0,55","1,02",2,NaN,NaN

In [ ]:
df_normal_ranges[(df_normal_ranges['field']=="Aspartate Aminotransferase (AST), Result (U/L)") & (df_normal_ranges['gender']== 0)]['min'].iloc[0]
#df_root[(df_root['field'] == "Aspartate Aminotransferase (AST), Result (U/L)") & (df_root['gender'] == 1)]['min'].iloc[0]

'11'

### Accesing when no condition of gender or age

In [ ]:
df_normal_ranges[df_normal_ranges['field']=="Aspartate Aminotransferase (AST), Result (U/L)"]['min'].iloc[0]

'11'

In [ ]:
print(float(min))

11.0

In [ ]:
from datetime import datetime

print(float((datetime.strptime('11:00', '%H:%M') - datetime.strptime('10:00', '%H:%M')).total_seconds() / 60))

60.0

In [ ]:
for i in df_root.Campo.unique():
    if 'rand' in i.lower():
        print(i)

Is the participant eligible to randomization?
Will the participant be randomized?
Is the subject replacing a subject previously been randomized in the current study?

In [ ]:
df_root.Visit.unique()

array(['Screening Visit', 'D-1', 'D1', 'D2', 'D3', 'D4', 'D7', 'D14',
       'D15', 'D16', 'D17', 'D18', 'D21', 'D28', 'D29', 'D30', 'D31',
       'D32', 'D35', 'D42', 'D63', '-'], dtype=object)

In [ ]:
df_root.columns

Index(['Id Form', 'idCampo', 'Site', 'Visit', 'name', 'Genero',
       'AñoNacimiento', 'NameActividad', 'activityState', 'fecha enrolado',
       'Participante', 'Estado del Participante', 'identifierPrefix',
       'Id Activityins', 'Instancia', 'Estado del campo', 'Campo', 'Valor',
       'displayName', 'id option', 'Variable', 'visible', 'required',
       'TipoDato', 'TypeQuery', 'MessageQuery', 'QueryState',
       'vistaPrincipal.IdSubject'],
      dtype='object')

In [ ]:
df_root.name.unique()

array(['Date of visit', 'Informed Consent', 'Demographics',
       'History of cutaneous leishmaniasis', 'Covid 19 testing',
       'Eligibility',
       'Medical Or Surgical History (other than Leishmaniasis)',
       'Vein assessment', 'Urinary Drug Screen', 'Alcohol Screen',
       'Clinical Laboratory - Test Hematology',
       'Clinical Laboratory Test - Clinical Chemistry',
       'Clinical Laboratory Test - Coagulation',
       'Immunoassay (Thyroid Stimulating Hormone)', 'Urinalysis',
       'Urine Microscopic Examination', 'Virology', 'Lesion Measurement',
       'Physical Examination', 'Vital Signs', '12-Lead ECG',
       'Clinical Laboratory Test - Clinical Chemistry D-1',
       'Interleukin-6', 'Titration Of Auto-Antibodies',
       'End of Study Treatment (Miltefosine)',
       'Injection Site Examination', 'PBMC Isolate',
       'Pharmacokinetic Blood Sampling (PK)',
       'Pharmacodynamic Blood Sampling (PD) -Cytokines/Chemokines',
       'mRNA Markers', 'CpG ODN D35 Administration',
       'Child Bearing Potential', 'Pregnancy Test',
       'Prior And Concomitant Medications'], dtype=object)

In [ ]:
df_root.Visit.unique()

array(['Screening Visit', 'D-1', 'D1', 'D2', 'D3', 'D4', 'D7', 'D14',
       'D15', 'D16', 'D17', 'D18', 'D21', 'D28', 'D29', 'D30', 'D31',
       'D32', 'D35', 'D42', 'D63', '-'], dtype=object)

In [ ]:
formulario_elegido =   'Medical Or Surgical History (other than Leishmaniasis)'
visita_elegida = 0
campo_elegido = 0

general_revision  = df_root[df_root['name']== formulario_elegido]
general_revision = general_revision[['Visit','Participante', 'Campo', 'Valor']]
if visita_elegida != 0:
    general_revision = general_revision[general_revision['Visit'] == visita_elegida]

if campo_elegido != 0:
    general_revision = general_revision[general_revision['Campo']== campo_elegido]

general_revision = general_revision[['Visit', 'Campo', 'Participante','Valor']]

In [ ]:
general_revision[general_revision['Participante']=='011002']

,Visit,Campo,Participante,Valor
3205,Screening Visit,Are there any relevant medical history or surg...,011002,1
3621,Screening Visit,Medical/Surgical History/Current Condition,011002,tubectomy
3622,Screening Visit,Onset Date/First Diagnosis/Surgery,011002,22-JUN-2023
3623,Screening Visit,Is Condition Ongoing?,011002,0
3624,Screening Visit,End Date,011002,22-JUN-2023
3625,Screening Visit,Medical/Surgical History/Current Condition,011002,unspecified acne
3626,Screening Visit,Onset Date/First Diagnosis/Surgery,011002,UNK-DEC-2023
3627,Screening Visit,Is Condition Ongoing?,011002,1
3628,Screening Visit,Severity,011002,1
3629,Screening Visit,Frequency,011002,2
3630,Screening Visit,Currently treated?,011002,0

In [ ]:
for i in general_revision.Campo.unique():
    print(f"'{i}'")

'End of study/Early withdrawal date'
'Did the participant complete the study?'
'Date of last study treatment administration'
'Was the study treatment completed per protocol?'
'Primary reason for not completing the study'

In [ ]:
general_revision.head(70)

,Visit,Campo,Participante,Valor
302,-,End of study/Early withdrawal date,011001,26-JAN-2024
303,-,Did the participant complete the study?,011001,1
304,-,Date of last study treatment administration,011001,28-NOV-2023
305,-,Was the study treatment completed per protocol?,011001,1
2695,-,End of study/Early withdrawal date,S002,27-NOV-2023
2696,-,Did the participant complete the study?,S002,0
2697,-,Primary reason for not completing the study,S002,1
2715,-,End of study/Early withdrawal date,S003,08-NOV-2023
2716,-,Did the participant complete the study?,S003,0
2717,-,Primary reason for not completing the study,S003,1
2981,-,End of study/Early withdrawal date,S004,11-JAN-2024
2982,-,Did the participant complete the study?,S004,0
2983,-,Primary reason for not completing the study,S004,1

In [ ]:
general_revision[general_revision['Participante']== '011001' ].head(50)

,Visit,Campo,Participante,Valor
302,-,End of study/Early withdrawal date,011001,26-JAN-2024
303,-,Did the participant complete the study?,011001,1
304,-,Date of last study treatment administration,011001,28-NOV-2023
305,-,Was the study treatment completed per protocol?,011001,1

In [ ]:
general_revision[general_revision['Campo']== 'Date of dosing' ].head(50)

     Visit           Campo Participante        Valor
2603     -  Date of dosing       011001  31-OCT-2023
2888     -  Date of dosing       011001  14-NOV-2023
2894     -  Date of dosing       011001  28-NOV-2023

In [ ]:
formulario_elegido =  'Prior And Concomitant Medications'
visita_elegida = 0
campo_elegido = 0

general_revision  = df_root[df_root['name']== formulario_elegido]
general_revision = general_revision[['Visit','Participante', 'Campo', 'Valor']]
if visita_elegida != 0:
    general_revision = general_revision[general_revision['Visit']in ['D2', 'D16', 'D30']]

if campo_elegido != 0:
    general_revision = general_revision[general_revision['Campo']== campo_elegido]

general_revision = general_revision[['Visit', 'Campo', 'Participante','Valor']]

In [ ]:
['Mean Platelet volume (MPV), Out of normal range?',
       'Mean Platelet volume (MPV), Result (fL)',
       'Platelet Count, Out of normal range?',
       'Platelet Count, Result (x10^3 /uL)',
       'Mean Corpuscular Haemoglobin Concentration (MCHC), Out of normal range?',
       'Mean Corpuscular Haemoglobin Concentration (MCHC), Result (g/dl)',
       'Mean Corpuscular Haemoglobin (MCH), Out of normal range?',
       'Mean Corpuscular Haemoglobin (MCH), Result (pg)',
       'Mean Corpuscular Volume (MCV), If abnormal, Specify',
       'Mean Corpuscular Volume (MCV), Out of normal range?',
       'Mean Corpuscular Volume (MCV), Result (fL)',
       'Hematocrit, Out of normal range?', 'Hematocrit, Result (%)',
       'Haemoglobin (Hgb), Out of normal range?',
       'Haemoglobin (Hgb), Result (g/dL)',
       'Red Blood cell count (RBC), Out of normal range?',
       'Red Blood cell count (RBC), Result (x10^6/uL)',
       'Absolute basophil count, If abnormal, Specify',
       'Absolute basophil count, Out of normal range?',
       'Absolute basophil count, Result (x10^3/uL)',
       'Absolute eosinophil count, Out of normal range?',
       'Absolute eosinophil count, Result (x10^3/uL)',
       'Absolute monocyte count, Out of normal range?',
       'Absolute monocyte count, Result (x10^3/uL)',
       'Absolute lymphocyte count, Out of normal range?',
       'Absolute lymphocyte count, Result (x10^3/uL)',
       'Absolute Neutrophil count, If abnormal, Specify',
       'Absolute Neutrophil count, Out of normal range?',
       'Absolute Neutrophil count, Result (x10^3/uL)', 'Basophil, Result (%)',
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       
       , 'Eosinophil, If abnormal, Specify',
       'Eosinophil, Out of normal range?', 'Eosinophil, Result (%)',
       'Monocytes, Out of normal range?', 'Monocytes, Result (%)',
       'Lymphocyte, If abnormal, Specify', 'Lymphocyte, Out of normal range?',
       'Lymphocyte, Result (%)', 'Neutrophil, If abnormal, Specify',
       'Neutrophil, Out of normal range?', 'Neutrophil, Result (%)',
       'White blood Cell count (WBC), Out of normal range?',
       'White blood Cell count (WBC), Result (x10^3/uL)',
       'Erythrocyte sedimentation rate (ESR), Out of normal range?',
       'Erythrocyte sedimentation rate (ESR), Result (mm/h)', 'Time Collected',
       'Date Collected', 'Blood Sample Collected',
       'Basophil, If abnormal, Specify', 'Subject', 'Visit', 'status',
       'Date_of_visit', 'Informed_consent_date', 'Genero', 'end_study_date',
       'was_DV_performed'],

In [ ]:
general_revision

     Visit                      Campo Participante              Valor
3610     -  Concomitant Medication ID         S005                  1
3611     -                  Drug Name         S005         omeprozole
3612     -                 Indication         S005  chronic gastritis
3613     -        Indication Category         S005                  2
3614     -         Medical History ID         S005                  1
3615     -    Dose per Administration         S005                 20
3616     -                       Unit         S005                 mg
3617     -                  Frequency         S005                  1
3618     -                      Route         S005                  1
3619     -                 Start date         S005       UNK-UNK-2022
3620     -                    Ongoing         S005                  1

In [ ]:
general_revision[general_revision['Campo']=='60-mins post dose, Time']

Empty DataFrame
Columns: [Visit, Campo, Participante, Valor]
Index: []

In [ ]:
df__lession  = df_root[df_root['name']=='Lesion Measurement']
df__lession = df__lession[['Visit','Participante', 'Campo', 'Valor']]
df__lession = df__lession[df__lession['Visit']=='Screening Visit']
df__lession = df__lession[df__lession['Campo']=='Anatomical Location']
df__lession = df__lession[['Visit','Participante','Valor']]
df__lession = df__lession.rename(columns={'Participante':'Subject', 'Valor':'lesion_measurement'})
df__lession['Count'] = len(df__lession['lesion_measurement'])
df__lession = df__lession[['Visit','Subject','Count']]
# df_with_counts = df__lession.merge(subject_counts, left_on='Subject', right_on='Subject')
# df_with_counts = df_with_counts[['Visit','Subject','Count']]

In [ ]:
df_root[df_root['Campo']=='Date of ECG Performed'].Valor.unique()

array(['25-OCT-2023', '31-OCT-2023', '14-NOV-2023', '28-NOV-2023',
       '12-DEC-2023'], dtype=object)

In [ ]:
df__lession

               Visit Subject  Count
300  Screening Visit  011001      2
309  Screening Visit  011001      2

In [ ]:
df_root.activityState.unique()

array(['DATA_VERIFIED', 'DATA_ENTRY_COMPLETE', 'DATA_ENTRY_INCOMPLETE',
       'DATA_EMPTY'], dtype=object)

In [ ]:
df_root.Participante.unique()

array(['011001', 'S002', 'S003'], dtype=object)

In [ ]:
prueba = df_root[df_root['name']=='CpG ODN D35 Administration'].sort_values(by='Instancia')
prueba = prueba[(prueba['Campo']=='Date of dosing') | (prueba['Campo']=='Time of Dosing')]
prueba1 = prueba[prueba['Campo']=='Date of dosing']
prueba1['time_dosing_cpg_administration'] =  prueba[prueba['Instancia'].isin(prueba1['Instancia'] + 1) & (prueba['Campo'] == 'Time of Dosing')]['Valor'].values
prueba1 =prueba1[['Participante', 'Campo', 'Valor', 'time_dosing_cpg_administration' ,'Instancia']]
prueba1 = prueba1.rename(columns={'Participante':'Subject', 'Valor':'date_cpg_administration'})
prueba1

C:\Users\sebastian sossa\AppData\Local\Temp\ipykernel_21716\1665216494.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prueba1['time_dosing_cpg_administration'] =  prueba[prueba['Instancia'].isin(prueba1['Instancia'] + 1) & (prueba['Campo'] == 'Time of Dosing')]['Valor'].values

,Subject,Campo,date_cpg_administration,time_dosing_cpg_administration,Instancia
2603,011001,Date of dosing,31-OCT-2023,09:36,17797
2888,011001,Date of dosing,14-NOV-2023,09:05,21664
2894,011001,Date of dosing,28-NOV-2023,10:12,21678

In [ ]:
df_time_dosing1_miltefosine_miltefosine_miltefosine_miltefosine = df_root[df_root['name']=='CpG ODN D35 Administration'].sort_values(by='Instancia')
df_time_milteosine = df_time_milteosine[(df_time_milteosine['Campo']=='Date of dosing') | (df_time_milteosine['Campo']=='Time of Dosing')]
df_time_dosing = df_time_milteosine[df_time_milteosine['Campo']=='Date of dosing']
df_time_dosing['time_dosing_cpg_administration'] =  df_time_milteosine[df_time_milteosine['Instancia'].isin(df_time_dosing['Instancia'] + 1) & (df_time_milteosine['Campo'] == 'Time of Dosing')]['Valor'].values
df_time_dosing =df_time_dosing[['Participante', 'Campo', 'Valor', 'time_dosing_cpg_administration']]
df_time_dosing = df_time_dosing.rename(columns={'Participante':'Subject', 'Valor':'date_ex_to_join'})

C:\Users\sebastian sossa\AppData\Local\Temp\ipykernel_21716\1862077006.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_time_dosing['time_dosing_cpg_administration'] =  df_time_dosing1[df_time_dosing1['Instancia'].isin(df_time_dosing['Instancia'] + 1) & (df_time_dosing1['Campo'] == 'Time of Dosing')]['Valor'].values

In [ ]:
df_time_dosing

     Subject           Campo date_ex_to_join time_dosing_cpg_administration
2603  011001  Date of dosing     31-OCT-2023                          09:36
2888  011001  Date of dosing     14-NOV-2023                          09:05
2894  011001  Date of dosing     28-NOV-2023                          10:12

In [ ]:
df_time_dosing = df_root[df_root['name']=='CpG ODN D35 Administration']
df_time_dosing = df_time_dosing[['Participante', 'Campo', 'Valor', 'FormFieldInstance Id']]
df_time_dosing = df_time_dosing[df_time_dosing['Campo']=='Was the visit performed?']
df_time_dosing = df_time_dosing[['Visit','Participante','Valor_completo']]
df_time_dosing = df_time_dosing.rename(columns={'Participante':'Subject', 'Valor_completo':'was_DV_performed'})

KeyError: "['FormFieldInstance Id'] not in index"

In [ ]:
df_contraception = df_root[df_root['name']== 'Prior And Concomitant Medications']
df_contraception = df_contraception[['Visit','Participante', 'Campo', 'Valor', 'Instancia']]
df_contraception = df_contraception.sort_values(by=['Instancia'])
df_contraception = df_contraception.reset_index(drop=True)
date_indices = df_contraception.index[df_contraception['Campo'] == 'Concomitant Medication ID'].tolist()

In [ ]:
date_indices

[0]

In [ ]:
df_contraception = df_root[df_root['name']== 'Prior And Concomitant Medications']
df_contraception = df_contraception[['Visit','Participante', 'Campo', 'Valor', 'Instancia']]
df_contraception = df_contraception.sort_values(by=['Instancia'])
df_contraception = df_contraception.reset_index(drop=True)
date_indices = df_contraception.index[df_contraception['Campo'] == 'Concomitant Medication ID'].tolist()
subdatasets = [df_contraception.iloc[start:end] for start, end in zip(date_indices, date_indices[1:] + [None])]
df_to_join = pd.DataFrame()
for sub in subdatasets:
    #if sub['Valor'].tolist()  in [5, 5.0, '5', '5.0', 9]:
    if len([float(x) for x in sub['Valor'].tolist() if x in [5, 5.0, '5', '5.0', 9]]) != 0:
        df_to_join = sub[(sub['Campo'] == 'Indication Category') | (sub['Campo'] == 'Start date')]
        sujeto = df_to_join.Participante.unique()
        df_to_join = df_to_join[['Campo', 'Valor']].T
        new_columns = df_to_join.iloc[0]
        df_to_join = df_to_join[1:].set_axis(new_columns, axis=1)
        df_to_join['Subject'] = sujeto
        break
df_to_join = df_to_join.rename(columns={'Participante':'Subject', 'Start date':'start_date_combined_hormonal'})

In [ ]:
df_to_join

Empty DataFrame
Columns: []
Index: []

In [ ]:
pru.Campo.unique()

array(['Was the ECG performed?', 'Date of ECG Performed',
       'Undefined, HR (bpm)', 'Undefined, RR (msec)',
       'Undefined, PR (msec)', 'Undefined, QRS (msec)',
       'Undefined, QT (msec)', 'Undefined, QTcF (msec)',
       'Undefined, Interpretation', 'Pre dose triplicate 1, Time 24 hrs',
       'Pre dose triplicate 1, HR (bpm)',
       'Pre dose triplicate 1, RR (msec)',
       'Pre dose triplicate 1, PR (msec)',
       'Pre dose triplicate 1, QRS (msec)',
       'Pre dose triplicate 1, QT (msec)',
       'Pre dose triplicate 1, QTcF (msec)',
       'Pre dose triplicate 1, Interpretation',
       'Pre dose triplicate 1, If abnormal, specify',
       'Pre dose triplicate 1, Please specify abnormal interpretation',
       'Pre dose triplicate 2, Time 24 hrs',
       'Pre dose triplicate 2, HR (bpm)',
       'Pre dose triplicate 2, RR (msec)',
       'Pre dose triplicate 2, PR (msec)',
       'Pre dose triplicate 2, QRS (msec)',
       'Pre dose triplicate 2, QT (msec)',
       'Pre dose triplicate 2, QTcF (msec)',
       'Pre dose triplicate 2, Interpretation',
       'Pre dose triplicate 2, If abnormal, specify',
       'Pre dose triplicate 2, Please specify abnormal interpretation',
       'Pre dose triplicate 3, Time 24 hrs',
       'Pre dose triplicate 3, HR (bpm)',
       'Pre dose triplicate 3, RR (msec)',
       'Pre dose triplicate 3, PR (msec)',
       'Pre dose triplicate 3, QRS (msec)',
       'Pre dose triplicate 3, QT (msec)',
       'Pre dose triplicate 3, QTcF (msec)',
       'Pre dose triplicate 3, Interpretation',
       'Pre dose triplicate 3, If abnormal, specify',
       'Pre dose triplicate 3, Please specify abnormal interpretation',
       '15-min post dose, Time 24 hrs', '15-min post dose, HR (bpm)',
       '15-min post dose, RR (msec)', '15-min post dose, PR (msec)',
       '15-min post dose, QRS (msec)', '15-min post dose, QT (msec)',
       '15-min post dose, QTcF (msec)',
       '15-min post dose, Interpretation',
       '15-min post dose, If abnormal, specify',
       '15-min post dose, Please specify abnormal interpretation',
       '30-min post dose, Time 24 hrs', '30-min post dose, HR (bpm)',
       '30-min post dose, RR (msec)', '30-min post dose, PR (msec)',
       '30-min post dose, QRS (msec)', '30-min post dose, QT (msec)',
       '30-min post dose, QTcF (msec)',
       '30-min post dose, Interpretation',
       '30-min post dose, If abnormal, specify',
       '30-min post dose, Please specify abnormal interpretation',
       '60-min post dose, Time 24 hrs', '60-min post dose, HR (bpm)',
       '60-min post dose, RR (msec)', '60-min post dose, PR (msec)',
       '60-min post dose, QRS (msec)', '60-min post dose, QT (msec)',
       '60-min post dose, QTcF (msec)',
       '60-min post dose, Interpretation',
       '60-min post dose, If abnormal, specify',
       '60-min post dose, Please specify abnormal interpretation'],
      dtype=object)

In [ ]:
triplicate_1 = pru[pru['Campo']=='Pre dose triplicate 1, Time 24 hrs'].Valor.unique()[0]
triplicate_2 = pru[pru['Campo']=='Pre dose triplicate 2, Time 24 hrs'].Valor.unique()[0]
print(triplicate_1)
print(triplicate_2)

08:20
08:25

In [ ]:
from datetime import datetime
time_format = '%H:%M'
triplicate_1_formated = datetime.strptime(triplicate_1, time_format)
triplicate_2_formated = datetime.strptime(triplicate_2, time_format)

time_difference = (triplicate_2_formated - triplicate_1_formated).total_seconds() / 60
print(time_difference)

5.0

In [ ]:
import math
import numpy as np
prueba_variable = np.nan

if math.isnan(float(prueba_variable)):
    print('Si funciona asi')
else:
    print('No funciona asi')

Si funciona asi

In [ ]:
import math

if math.nan > 4:
    print('Si toca cambiar')
else:
    print('no toca cambiar')

no toca cambiar

## Pruebas con datos root

In [1]:

# Normals ranges file
import os 
import pandas as pd
script_directory = os.path.dirname(os.path.abspath(__file__)) if '__file__' in locals() else os.getcwd()
relative_folder_path = "data"
folder_path = os.path.join(script_directory.replace('\code', ''), relative_folder_path)
file = os.listdir(folder_path)
path = f"{folder_path}\{file[0]}" 
df_root = pd.read_excel(path)
df_root.rename(columns = {'Instancia':'FormFieldInstance Id'}, inplace = True)

In [8]:
df_end_study_general = df_root[df_root['name']== 'End of Study Treatment (Miltefosine)']
df_end_study_general = df_end_study_general[['Visit','Participante', 'Campo', 'Valor', 'Variable' ]]
df_end_study_general = df_end_study_general[df_end_study_general['Variable'] == 'DSDAT']
df_end_study_general = df_end_study_general[['Participante', 'Valor']]
df_end_study_general = df_end_study_general.rename(columns={'Participante':'Subject', 'Valor':'end_study_date'})

In [9]:
df_end_study_general

      Subject end_study_date
677    011001    26-JAN-2024
2071     S002    27-NOV-2023
2097     S003    08-NOV-2023
2378     S004    11-JAN-2024
2511     S005    28-FEB-2024
6806   011006    22-APR-2024
15669    S011    26-MAR-2024

In [7]:
df_demographic

      Subject Genero
2054     S002      1
2083     S003      1
2363     S004      2
2416     S005      1
2523   011002      2
4459   011001      1
5128   011003      1
5702   011004      1
6286   011005      1
6554   011006      1
15658    S011      1

In [2]:
df_visit_done = df_root[df_root['name']=='Date of visit']
df_visit_done = df_visit_done[['Visit','Participante', 'Campo', 'Valor', 'FormFieldInstance Id']]
df_visit_done = df_visit_done[df_visit_done['Campo']=='Was the visit performed?']
df_visit_done['Valor_completo'] = df_visit_done['Valor'].astype(str) + '|' + df_visit_done['FormFieldInstance Id'].astype(str)
df_visit_done = df_visit_done[['Visit','Participante','Valor_completo']]
df_visit_done = df_visit_done.rename(columns={'Participante':'Subject', 'Valor_completo':'was_DV_performed'})

In [3]:
df_visit_done

                    Visit Subject was_DV_performed
7490      Screening Visit  011001           1|19.0
7598                  D-1  011001          1|619.0
7649                   D1  011001         1|9407.0
7715                   D2  011001         1|9734.0
7776                   D3  011001        1|10202.0
...                   ...     ...              ...
15874     Screening Visit    S011        1|75296.0
16740  Unscheduled Visits  011002        1|81940.0
16758  Unscheduled Visits  011006        1|82359.0
16759  Unscheduled Visits  011006        1|82367.0
16762  Unscheduled Visits  011002        1|82404.0

[138 rows x 3 columns]

In [6]:
df_end_study_general = df_root[df_root['name']== 'End of Study Treatment (Miltefosine)']
df_end_study_general = df_end_study_general[['Visit','Participante', 'Campo', 'Valor', 'Variable' ]]
df_end_study_general = df_end_study_general[df_end_study_general['Variable'] == 'DSDAT']
df_end_study_general = df_end_study_general[['Participante', 'Valor']]
df_end_study_general = df_end_study_general.rename(columns={'Participante':'Subject', 'Valor':'end_study_date'})

In [7]:
(['Mean Platelet volume (MPV), Out of normal range?',
       'Mean Platelet volume (MPV), Result (fL)',
       'Platelet Count, Out of normal range?',
       'Platelet Count, Result (x10^3 /uL)',
       'Mean Corpuscular Haemoglobin Concentration (MCHC), Out of normal range?',
       'Mean Corpuscular Haemoglobin Concentration (MCHC), Result (g/dl)',
       'Mean Corpuscular Haemoglobin (MCH), Out of normal range?',
       'Mean Corpuscular Haemoglobin (MCH), Result (pg)',
       'Mean Corpuscular Volume (MCV), Out of normal range?',
       'Mean Corpuscular Volume (MCV), Result (fL)',
       'Hematocrit, Out of normal range?', 'Hematocrit, Result (%)',
       'Haemoglobin (Hgb), Out of normal range?',
       'Haemoglobin (Hgb), Result (g/dL)',
       'Red Blood cell count (RBC), Out of normal range?',
       'Red Blood cell count (RBC), Result (x10^6/uL)',
       'Absolute basophil count, Out of normal range?',
       'Absolute basophil count, Result (x10^3/uL)',
       'Absolute eosinophil count, Out of normal range?',
       'Absolute eosinophil count, Result (x10^3/uL)',
       'Absolute monocyte count, Out of normal range?',
       'Absolute monocyte count, Result (x10^3/uL)',
       'Absolute lymphocyte count, Out of normal range?',
       'Absolute lymphocyte count, Result (x10^3/uL)',
       'Absolute Neutrophil count, Out of normal range?',
       'Absolute Neutrophil count, Result (x10^3/uL)',
       'Eosinophil, If abnormal, Specify', 'Eosinophil, Out of normal range?',
       'Eosinophil, Result (%)', 'Monocytes, Out of normal range?',
       'Monocytes, Result (%)', 'Lymphocyte, Out of normal range?',
       'Lymphocyte, Result (%)', 'Neutrophil, Out of normal range?',
       'Neutrophil, Result (%)',
       'White blood Cell count (WBC), Out of normal range?',
       'White blood Cell count (WBC), Result (x10^3/uL)',
       'Erythrocyte sedimentation rate (ESR), Out of normal range?',
       'Erythrocyte sedimentation rate (ESR), Result (mm/h)', 'Time Collected',
       'Date Collected', 'Blood Sample Collected', 'Basophil, Result (%)',
       'Basophil, Out of normal range?', 'Subject', 'Visit', 'status',
       'Date_of_visit', 'Informed_consent_date', 'Genero', 'end_study_date',
       'was_DV_performed'],

      Subject end_study_date
682    011001    26-JAN-2024
2076     S002    27-NOV-2023
2102     S003    08-NOV-2023
2383     S004    11-JAN-2024
2516     S005    28-FEB-2024
6811   011006    22-APR-2024
15674    S011    26-MAR-2024

In [2]:
df= df_root[df_root['name']== 'Medical Or Surgical History (other than Leishmaniasis)']
lista_sujetos = df['Participante'].unique()
df = df[['name', 'Visit', 'activityState', 'Participante', 'Estado del Participante', 'Campo', 'Valor', 'FormFieldInstance Id', 'displayName']]
df['Value_id'] = df['Valor'].astype(str) + '|' + df['FormFieldInstance Id'].astype(str)  + '|' + df['displayName'].astype(str)

In [3]:
df

,name,Visit,activityState,Participante,Estado del Participante,Campo,Valor,FormFieldInstance Id,displayName,Value_id
2547,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011002,ENROLLED,Are there any relevant medical history or surg...,0,24436.0,No,0|24436.0|No
2906,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,S005,DROPOUT,Medical/Surgical History/Current Condition,-,25664.0,-,-|25664.0|-
2907,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,S005,DROPOUT,Onset Date/First Diagnosis/Surgery,-,25665.0,-,-|25665.0|-
5031,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011002,ENROLLED,Medical/Surgical History/Current Condition,tubectomy,33781.0,-,tubectomy|33781.0|-
5032,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011002,ENROLLED,Onset Date/First Diagnosis/Surgery,22-JUN-1970,33782.0,-,22-JUN-1970|33782.0|-
5033,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011002,ENROLLED,Is Condition Ongoing?,0,33783.0,No,0|33783.0|No
5034,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011002,ENROLLED,End Date,22-JUN-1960,33784.0,-,22-JUN-1960|33784.0|-
5035,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011002,ENROLLED,Medical/Surgical History/Current Condition,unspecified acne,33788.0,-,unspecified acne|33788.0|-
5036,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011002,ENROLLED,Onset Date/First Diagnosis/Surgery,UNK-DEC-2023,33789.0,-,UNK-DEC-2023|33789.0|-
5037,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011002,ENROLLED,Is Condition Ongoing?,1,33790.0,Yes,1|33790.0|Yes
5038,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011002,ENROLLED,Severity,1,33792.0,Mild,1|33792.0|Mild
5039,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011002,ENROLLED,Frequency,2,33793.0,Continuous,2|33793.0|Continuous
5040,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011002,ENROLLED,Currently treated?,0,33794.0,No,0|33794.0|No
5146,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011003,ENROLLED,Are there any relevant medical history or surg...,1,34552.0,Yes,1|34552.0|Yes
5720,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011004,ENROLLED,Are there any relevant medical history or surg...,0,36594.0,No,0|36594.0|No
6304,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011005,ENROLLED,Are there any relevant medical history or surg...,0,38644.0,No,0|38644.0|No
6572,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011006,ENROLLED,Are there any relevant medical history or surg...,0,39876.0,No,0|39876.0|No
12743,Medical Or Surgical History (other than Leishm...,Screening Visit,DATA_VERIFIED,011001,STUDY_COMPLETED,Are there any relevant medical history or surg...,0,63.0,No,0|63.0|No

In [3]:

df_time_dosing1_miltefosine = df_root[df_root['name'] == 'Miltefosine Administration'].sort_values(by='FormFieldInstance Id')
df_time_dosing1_miltefosine = df_time_dosing1_miltefosine[(df_time_dosing1_miltefosine['Campo'] == 'Date of dosing') | (df_time_dosing1_miltefosine['Campo'] == 'Time of Dosing') | (df_time_dosing1_miltefosine['Campo'] == 'Dose (mg)')]
df_time_dosing_miltefosine = df_time_dosing1_miltefosine[df_time_dosing1_miltefosine['Campo'] == 'Time of Dosing']
df_time_dosing_miltefosine['date_ex_to_join'] = df_time_dosing1_miltefosine[df_time_dosing1_miltefosine['FormFieldInstance Id'].isin(df_time_dosing_miltefosine['FormFieldInstance Id'] - 1) & (df_time_dosing1_miltefosine['Campo'] == 'Date of dosing')]['Valor'].values
df_time_dosing_miltefosine = df_time_dosing_miltefosine[df_time_dosing_miltefosine['Valor'].str.split(':').str[0] != '00']
df_time_dosing_miltefosine['time_dosing_Miltefosine_administration'] = df_time_dosing_miltefosine.groupby(['Participante', 'date_ex_to_join'])['Valor'].transform(lambda x: x.min())
df_time_dosing_miltefosine = df_time_dosing_miltefosine[['Participante', 'date_ex_to_join', 'time_dosing_Miltefosine_administration']].drop_duplicates()
df_time_dosing_miltefosine = df_time_dosing_miltefosine.rename(columns={'Participante': 'Subject'})

C:\Users\sebastian sossa\AppData\Local\Temp\ipykernel_6328\3921195785.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_time_dosing_miltefosine['date_ex_to_join'] = df_time_dosing1_miltefosine[df_time_dosing1_miltefosine['FormFieldInstance Id'].isin(df_time_dosing_miltefosine['FormFieldInstance Id'] - 1) & (df_time_dosing1_miltefosine['Campo'] == 'Date of dosing')]['Valor'].values

In [4]:
df_time_dosing_miltefosine

      Subject date_ex_to_join time_dosing_Miltefosine_administration
16466  011002     20-FEB-2024                                  08:30
16491  011002     21-FEB-2024                                  08:30
16494  011002     22-FEB-2024                                  08:30
16497  011002     23-FEB-2024                                  08:39
16500  011002     24-FEB-2024                                  08:30
16503  011002     25-FEB-2024                                  08:30
16506  011002     26-FEB-2024                                  08:30
16509  011002     27-FEB-2024                                  08:30
16512  011002     28-FEB-2024                                  08:30
16515  011002     29-FEB-2024                                  08:30
16518  011002     01-MAR-2024                                  08:30
16521  011002     02-MAR-2024                                  08:30
16524  011002     03-MAR-2024                                  08:30
16527  011002     04-MAR-2024                                  08:30
16530  011002     05-MAR-2024                                  08:05
16548  011002     06-MAR-2024                                  07:45
16553  011002     07-MAR-2024                                  07:30
16560  011002     08-MAR-2024                                  07:32
16563  011002     09-MAR-2024                                  07:30
16566  011002     10-MAR-2024                                  07:35
16569  011002     11-MAR-2024                                  07:30
17254  011002     12-MAR-2024                                  12:40
17256  011002     13-MAR-2024                                  05:06
17259  011002     14-MAR-2024                                  05:30
17262  011002     15-MAR-2024                                  06:00
17265  011002     16-MAR-2024                                  06:00
17268  011002     17-MAR-2024                                  06:03
17271  011002     18-MAR-2024                                  07:00
17274  011002     19-MAR-2024                                  06:30
17277  011005     20-MAR-2024                                  08:00
17280  011005     21-MAR-2024                                  08:20
17283  011005     22-MAR-2024                                  08:25
17317  011005     23-MAR-2024                                  09:11
17320  011005     24-MAR-2024                                  09:45
17323  011005     25-MAR-2024                                  09:50
17326  011005     26-MAR-2024                                  10:50
17329  011005     27-MAR-2024                                  10:52
17332  011005     28-MAR-2024                                  10:02
17335  011005     29-MAR-2024                                  10:00
17338  011005     30-MAR-2024                                  10:32
17341  011005     31-MAR-2024                                  10:40
17344  011005     01-APR-2024                                  10:50
17347  011005     02-APR-2024                                  09:27
17350  011005     03-APR-2024                                  08:05
17353  011005     04-APR-2024                                  08:47
17361  011005     05-APR-2024                                  08:10
17364  011005     06-APR-2024                                  08:30
17367  011005     07-APR-2024                                  08:40
17395  011005     08-APR-2024                                  08:30
17398  011005     09-APR-2024                                  08:24
17401  011005     10-APR-2024                                  08:30
17404  011005     11-APR-2024                                  08:20
17407  011005     12-APR-2024                                  08:30
17410  011005     13-APR-2024                                  08:40
17413  011005     14-APR-2024                                  08:25
17416  011005     15-APR-2024                                  08:20
17419  011005     16-APR-2024                                  08:10

In [5]:

df_time_dosing12_Miltefosine = df_root[df_root['name'] == 'Miltefosine Administration'].sort_values(by='FormFieldInstance Id')
df_time_dosing12_Miltefosine = df_time_dosing12_Miltefosine[(df_time_dosing12_Miltefosine['Campo'] == 'Date of dosing') | (df_time_dosing12_Miltefosine['Campo'] == 'Time of Dosing') | (df_time_dosing12_Miltefosine['Campo'] == 'Dose (mg)')]
df_time_dosing2_Miltefosine = df_time_dosing12_Miltefosine[df_time_dosing12_Miltefosine['Campo'] == 'Time of Dosing']
df_time_dosing2_Miltefosine['date_ex_to_join2'] = df_time_dosing12_Miltefosine[df_time_dosing12_Miltefosine['FormFieldInstance Id'].isin(df_time_dosing2_Miltefosine['FormFieldInstance Id'] - 1) & (df_time_dosing12_Miltefosine['Campo'] == 'Date of dosing')]['Valor'].values
df_time_dosing2_Miltefosine = df_time_dosing2_Miltefosine[df_time_dosing2_Miltefosine['Valor'].str.split(':').str[0] != '00']
df_time_dosing2_Miltefosine['time_dosing_Miltefosine_administration2'] = df_time_dosing2_Miltefosine.groupby(['Participante', 'date_ex_to_join2'])['Valor'].transform(lambda x: x.min())
df_time_dosing2_Miltefosine = df_time_dosing2_Miltefosine[['Participante', 'date_ex_to_join2', 'time_dosing_Miltefosine_administration2']].drop_duplicates()
df_time_dosing2_Miltefosine = df_time_dosing2_Miltefosine.rename(columns={'Participante': 'Subject'})

C:\Users\sebastian sossa\AppData\Local\Temp\ipykernel_6328\856888914.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_time_dosing2_Miltefosine['date_ex_to_join2'] = df_time_dosing12_Miltefosine[df_time_dosing12_Miltefosine['FormFieldInstance Id'].isin(df_time_dosing2_Miltefosine['FormFieldInstance Id'] - 1) & (df_time_dosing12_Miltefosine['Campo'] == 'Date of dosing')]['Valor'].values

In [19]:
df_time_milteosine1 = df_root[df_root['name'] == 'Miltefosine Administration'].sort_values(by='FormFieldInstance Id')
df_time_milteosine1 = df_time_milteosine1[(df_time_milteosine1['Campo'] == 'Date of dosing') | (df_time_milteosine1['Campo'] == 'Time of Dosing') | (df_time_milteosine1['Campo'] == 'Dose (mg)')]
df_time_milteosine = df_time_milteosine1[df_time_milteosine1['Campo'] == 'Time of Dosing']
df_time_milteosine['date_ex_to_join'] = df_time_milteosine1[df_time_milteosine1['FormFieldInstance Id'].isin(df_time_milteosine['FormFieldInstance Id'] - 1) & (df_time_milteosine1['Campo'] == 'Date of dosing')]['Valor'].values
df_time_milteosine = df_time_milteosine[df_time_milteosine['Valor'].str.split(':').str[0] != '00']
df_time_milteosine['time_dosing_miltefosine_administration'] = df_time_milteosine.groupby(['Participante', 'date_ex_to_join'])['Valor'].transform(lambda x: x.min())
df_time_milteosine = df_time_milteosine[['Participante', 'date_ex_to_join', 'time_dosing_miltefosine_administration']].drop_duplicates()
df_time_milteosine = df_time_milteosine.rename(columns={'Participante': 'Subject'})

C:\Users\sebastian sossa\AppData\Local\Temp\ipykernel_6328\3921195785.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_time_dosing_miltefosine['date_ex_to_join'] = df_time_dosing1_miltefosine[df_time_dosing1_miltefosine['FormFieldInstance Id'].isin(df_time_dosing_miltefosine['FormFieldInstance Id'] - 1) & (df_time_dosing1_miltefosine['Campo'] == 'Date of dosing')]['Valor'].values

In [21]:

df_time_milteosine1 = df_root[df_root['name'] == 'Miltefosine Administration'].sort_values(by='FormFieldInstance Id')
df_time_milteosine1 = df_time_milteosine1[(df_time_milteosine1['Campo'] == 'Date of dosing') | (df_time_milteosine1['Campo'] == 'Time of Dosing') | (df_time_milteosine1['Campo'] == 'Dose (mg)')]
df_time_milteosine = df_time_milteosine1[df_time_milteosine1['Campo'] == 'Time of Dosing']
df_time_milteosine['date_ex_to_join'] = df_time_milteosine1[df_time_milteosine1['FormFieldInstance Id'].isin(df_time_milteosine['FormFieldInstance Id'] - 1) & (df_time_milteosine1['Campo'] == 'Date of dosing')]['Valor'].values
df_time_milteosine = df_time_milteosine[df_time_milteosine['Valor'].str.split(':').str[0] != '00']
df_time_milteosine['time_dosing_miltefosine_administration'] = df_time_milteosine.groupby(['Participante', 'date_ex_to_join'])['Valor'].transform(lambda x: x.min())
df_time_milteosine = df_time_milteosine[['Participante', 'date_ex_to_join', 'time_dosing_miltefosine_administration']].drop_duplicates()
df_time_milteosine = df_time_milteosine.rename(columns={'Participante': 'Subject'})

C:\Users\sebastian sossa\AppData\Local\Temp\ipykernel_6328\2997806521.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_time_milteosine['date_ex_to_join'] = df_time_milteosine1[df_time_milteosine1['FormFieldInstance Id'].isin(df_time_milteosine['FormFieldInstance Id'] - 1) & (df_time_milteosine1['Campo'] == 'Date of dosing')]['Valor'].values

In [ ]:
['Clinical Laboratory - Test Hematology' 'Vital Signs' 'PBMC Isolate'
 'Pharmacodynamic Blood Sampling (PD) -Cytokines-Chemokines'
 'mRNA Markers' 'Clinical Laboratory Test - Clinical Chemistry'
 'Date of visit' 'Physical Examination' 'Injection Site Examination'
 'Urinalysis' 'Urine Microscopic Examination' 'Lesion Measurement'
 'Covid 19 testing' 'Vein assessment' 'Urinary Drug Screen'
 'Alcohol Screen' '12-Lead ECG' 'Clinical Laboratory Test - Coagulation'
 'Titration Of Auto-Antibodies' 'Pharmacokinetic Blood Sampling (PK)'
 'End of Study Treatment (Miltefosine)'
 'Immunoassay (Thyroid Stimulating Hormone)' 'CpG ODN D35 Administration'
 'Informed Consent' 'Demographics' 'Eligibility' 'Child Bearing Potential'
 'History of cutaneous leishmaniasis'
 'Medical Or Surgical History (other than Leishmaniasis)' 'Pregnancy Test'
 'Virology' 'Clinical Laboratory Test - Clinical Chemistry D-1'
 'Interleukin-6' 'Prior And Concomitant Medications' 'Adverse Events'
 'Prior And Concomitant Procedures' 'Comments']
['Clinical Laboratory - Test Hematology' 'Vital Signs' 'PBMC Isolate'
 'Pharmacodynamic Blood Sampling (PD) -Cytokines-Chemokines'
 'mRNA Markers' 'Clinical Laboratory Test - Clinical Chemistry'
 'Date of visit' 'Physical Examination' 'Injection Site Examination'
 'Urinalysis' 'Urine Microscopic Examination' 'Lesion Measurement'
 'Covid 19 testing' 'Vein assessment' 'Urinary Drug Screen'
 'Alcohol Screen' '12-Lead ECG' 'Clinical Laboratory Test - Coagulation'
 'Titration Of Auto-Antibodies' 'Pharmacokinetic Blood Sampling (PK)'
 'End of Study Treatment (Miltefosine)'
 'Immunoassay (Thyroid Stimulating Hormone)' 'CpG ODN D35 Administration'
 'Informed Consent' 'Demographics' 'Eligibility' 'Child Bearing Potential'
 'History of cutaneous leishmaniasis'
 'Medical Or Surgical History (other than Leishmaniasis)' 'Pregnancy Test'
 'Virology' 'Clinical Laboratory Test - Clinical Chemistry D-1'
 'Interleukin-6' 'Prior And Concomitant Medications' 'Adverse Events'
 'Prior And Concomitant Procedures' 'Comments']

In [23]:
df_time_dosing1 = df_root[df_root['name']=='CpG ODN D35 Administration'].sort_values(by='FormFieldInstance Id')
df_time_dosing1 = df_time_dosing1[(df_time_dosing1['Campo']=='Date of dosing') | (df_time_dosing1['Campo']=='Time of Dosing')]
df_time_dosing = df_time_dosing1[df_time_dosing1['Campo']=='Date of dosing']
df_time_dosing['time_dosing_cpg_administration'] =  df_time_dosing1[df_time_dosing1['FormFieldInstance Id'].isin(df_time_dosing['FormFieldInstance Id'] + 1) & (df_time_dosing1['Campo'] == 'Time of Dosing')]['Valor'].values
df_time_dosing =df_time_dosing[['Participante','Valor', 'time_dosing_cpg_administration']]
df_time_dosing = df_time_dosing.rename(columns={'Participante':'Subject', 'Valor':'date_ex_to_join'})

C:\Users\sebastian sossa\AppData\Local\Temp\ipykernel_6328\2046169639.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_time_dosing['time_dosing_cpg_administration'] =  df_time_dosing1[df_time_dosing1['FormFieldInstance Id'].isin(df_time_dosing['FormFieldInstance Id'] + 1) & (df_time_dosing1['Campo'] == 'Time of Dosing')]['Valor'].values

In [24]:
df_time_dosing

     Subject date_ex_to_join time_dosing_cpg_administration
430   011001     31-OCT-2023                          09:36
440   011001     14-NOV-2023                          09:05
441   011001     28-NOV-2023                          10:12
1555  011003     19-MAR-2024                          09:25
1556  011003     02-APR-2024                          09:25
1557  011004     19-MAR-2024                          09:30
1558  011004     02-APR-2024                          10:00
1559  011006     20-MAR-2024                          09:00
1560  011006     03-APR-2024                          09:15
1617  011003     16-APR-2024                          09:05
1618  011004     16-APR-2024                          09:40
1625  011006     17-APR-2024                          09:10

In [22]:
df_time_milteosine

      Subject date_ex_to_join time_dosing_miltefosine_administration
16466  011002     20-FEB-2024                                  08:30
16491  011002     21-FEB-2024                                  08:30
16494  011002     22-FEB-2024                                  08:30
16497  011002     23-FEB-2024                                  08:39
16500  011002     24-FEB-2024                                  08:30
16503  011002     25-FEB-2024                                  08:30
16506  011002     26-FEB-2024                                  08:30
16509  011002     27-FEB-2024                                  08:30
16512  011002     28-FEB-2024                                  08:30
16515  011002     29-FEB-2024                                  08:30
16518  011002     01-MAR-2024                                  08:30
16521  011002     02-MAR-2024                                  08:30
16524  011002     03-MAR-2024                                  08:30
16527  011002     04-MAR-2024                                  08:30
16530  011002     05-MAR-2024                                  08:05
16548  011002     06-MAR-2024                                  07:45
16553  011002     07-MAR-2024                                  07:30
16560  011002     08-MAR-2024                                  07:32
16563  011002     09-MAR-2024                                  07:30
16566  011002     10-MAR-2024                                  07:35
16569  011002     11-MAR-2024                                  07:30
17254  011002     12-MAR-2024                                  12:40
17256  011002     13-MAR-2024                                  05:06
17259  011002     14-MAR-2024                                  05:30
17262  011002     15-MAR-2024                                  06:00
17265  011002     16-MAR-2024                                  06:00
17268  011002     17-MAR-2024                                  06:03
17271  011002     18-MAR-2024                                  07:00
17274  011002     19-MAR-2024                                  06:30
17277  011005     20-MAR-2024                                  08:00
17280  011005     21-MAR-2024                                  08:20
17283  011005     22-MAR-2024                                  08:25
17317  011005     23-MAR-2024                                  09:11
17320  011005     24-MAR-2024                                  09:45
17323  011005     25-MAR-2024                                  09:50
17326  011005     26-MAR-2024                                  10:50
17329  011005     27-MAR-2024                                  10:52
17332  011005     28-MAR-2024                                  10:02
17335  011005     29-MAR-2024                                  10:00
17338  011005     30-MAR-2024                                  10:32
17341  011005     31-MAR-2024                                  10:40
17344  011005     01-APR-2024                                  10:50
17347  011005     02-APR-2024                                  09:27
17350  011005     03-APR-2024                                  08:05
17353  011005     04-APR-2024                                  08:47
17361  011005     05-APR-2024                                  08:10
17364  011005     06-APR-2024                                  08:30
17367  011005     07-APR-2024                                  08:40
17395  011005     08-APR-2024                                  08:30
17398  011005     09-APR-2024                                  08:24
17401  011005     10-APR-2024                                  08:30
17404  011005     11-APR-2024                                  08:20
17407  011005     12-APR-2024                                  08:30
17410  011005     13-APR-2024                                  08:40
17413  011005     14-APR-2024                                  08:25
17416  011005     15-APR-2024                                  08:20
17419  011005     16-APR-2024                                  08:10

In [18]:
df_time_dosing2_Miltefosine.dtypes

Subject                                    object
date_ex_to_join2                           object
time_dosing_Miltefosine_administration2    object
dtype: object

In [14]:
df_time_dosing2_Miltefosine[df_time_dosing2_Miltefosine['Subject']=='011002']

      Subject date_ex_to_join2 time_dosing_Miltefosine_administration2
16466  011002      20-FEB-2024                                   08:30
16491  011002      21-FEB-2024                                   08:30
16494  011002      22-FEB-2024                                   08:30
16497  011002      23-FEB-2024                                   08:39
16500  011002      24-FEB-2024                                   08:30
16503  011002      25-FEB-2024                                   08:30
16506  011002      26-FEB-2024                                   08:30
16509  011002      27-FEB-2024                                   08:30
16512  011002      28-FEB-2024                                   08:30
16515  011002      29-FEB-2024                                   08:30
16518  011002      01-MAR-2024                                   08:30
16521  011002      02-MAR-2024                                   08:30
16524  011002      03-MAR-2024                                   08:30
16527  011002      04-MAR-2024                                   08:30
16530  011002      05-MAR-2024                                   08:05
16548  011002      06-MAR-2024                                   07:45
16553  011002      07-MAR-2024                                   07:30
16560  011002      08-MAR-2024                                   07:32
16563  011002      09-MAR-2024                                   07:30
16566  011002      10-MAR-2024                                   07:35
16569  011002      11-MAR-2024                                   07:30
17254  011002      12-MAR-2024                                   12:40
17256  011002      13-MAR-2024                                   05:06
17259  011002      14-MAR-2024                                   05:30
17262  011002      15-MAR-2024                                   06:00
17265  011002      16-MAR-2024                                   06:00
17268  011002      17-MAR-2024                                   06:03
17271  011002      18-MAR-2024                                   07:00
17274  011002      19-MAR-2024                                   06:30

In [34]:
df_time_milteosine1 = df_root[df_root['name']== 'Miltefosine Administration'].sort_values(by='FormFieldInstance Id')
df_time_milteosine1 = df_time_milteosine1[(df_time_milteosine1['Campo']=='Date of dosing') | (df_time_milteosine1['Campo']=='Time of Dosing') | (df_time_milteosine1['Campo']=='Dose (mg)')]
df_time_milteosine = df_time_milteosine1[df_time_milteosine1['Campo']=='Time of Dosing']
df_time_milteosine['time_dosing_miltefosine_administration1'] =  df_time_milteosine1[df_time_milteosine1['FormFieldInstance Id'].isin(df_time_milteosine['FormFieldInstance Id'] - 1) & (df_time_milteosine1['Campo'] == 'Date of dosing')]['Valor'].values
df_time_milteosine = df_time_milteosine[df_time_milteosine['time_dosing_miltefosine_administration1'].str.split(':').str[0] != '00']
df_time_milteosine['date_ex_to_join'] = df_time_milteosine.groupby(['Participante', 'Valor'])['time_dosing_miltefosine_administration1'].transform(lambda x: x.min())
df_time_milteosine =df_time_milteosine[['Participante','Valor','date_ex_to_join']].drop_duplicates()
df_time_milteosine = df_time_milteosine.rename(columns={'Participante':'Subject'})

C:\Users\sebastian sossa\AppData\Local\Temp\ipykernel_26580\4131474267.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_time_milteosine['time_dosing_miltefosine_administration1'] =  df_time_milteosine1[df_time_milteosine1['FormFieldInstance Id'].isin(df_time_milteosine['FormFieldInstance Id'] - 1) & (df_time_milteosine1['Campo'] == 'Date of dosing')]['Valor'].values

In [35]:
df_time_milteosine

      Subject  Valor date_ex_to_join
17449  011002  08:30     01-MAR-2024
17472  011002  16:30     01-MAR-2024
17473  011002  00:30     01-MAR-2024
17480  011002  08:39     23-FEB-2024
17512  011002  08:05     05-MAR-2024
...       ...    ...             ...
18393  011005  14:27     14-APR-2024
18394  011005  20:10     14-APR-2024
18396  011005  14:21     15-APR-2024
18397  011005  20:23     15-APR-2024
18399  011005  14:00     16-APR-2024

[90 rows x 3 columns]

In [32]:
df_time_milteosine

      Subject date_ex_to_join time_dosing_miltefosine_administration
17449  011002           08:30                            01-MAR-2024
17472  011002           16:30                            01-MAR-2024
17473  011002           00:30                            01-MAR-2024
17480  011002           08:39                            23-FEB-2024
17512  011002           08:05                            05-MAR-2024
...       ...             ...                                    ...
18393  011005           14:27                            14-APR-2024
18394  011005           20:10                            14-APR-2024
18396  011005           14:21                            15-APR-2024
18397  011005           20:23                            15-APR-2024
18399  011005           14:00                            16-APR-2024

[90 rows x 3 columns]

In [36]:
# Define a function for the common operations
def process_dosing_data(df, suffix):
    df_sorted = df[df['name'] == 'Miltefosine Administration'].sort_values(by='FormFieldInstance Id')
    df_filtered = df_sorted[(df_sorted['Campo'] == 'Date of dosing') | (df_sorted['Campo'] == 'Time of Dosing')]
    df_date_dosing = df_filtered[df_filtered['Campo'] == 'Date of dosing']
    df_date_dosing['min_time_dosing_miltefosine_administration'] = df_filtered[df_filtered['FormFieldInstance Id'].isin(df_date_dosing['FormFieldInstance Id'] + 1) & (df_filtered['Campo'] == 'Time of Dosing')]['Valor'].values
    df_date_dosing = df_date_dosing[df_date_dosing['min_time_dosing_miltefosine_administration'].str.split(':').str[0] != '00']
    df_date_dosing[f'time_dosing_Miltefosine_administration{suffix}'] = df_date_dosing.groupby(['Participante', 'Valor'])['min_time_dosing_miltefosine_administration'].transform(lambda x: x.min())
    df_date_dosing = df_date_dosing[['Participante', 'Valor', f'time_dosing_Miltefosine_administration{suffix}']].drop_duplicates()
    df_date_dosing = df_date_dosing.rename(columns={'Participante': 'Subject', 'Valor': f'date_ex_to_join{suffix}'})
    return df_date_dosing

# Apply the function to your dataframes
df_time_dosing1_miltefosine = process_dosing_data(df_root, '')
df_time_dosing12_Miltefosine = process_dosing_data(df_root, '2')
df_time_dosing123_Miltefosine = process_dosing_data(df_root, '3')
df_time_milteosine1 = process_dosing_data(df_root, '1')
df_time_milteosine1_M = process_dosing_data(df_root, '_ant')

# Show the outputs
print("Output for df_time_dosing1_miltefosine:")
print(df_time_dosing1_miltefosine)
print("\nOutput for df_time_dosing12_Miltefosine:")
print(df_time_dosing12_Miltefosine)
print("\nOutput for df_time_dosing123_Miltefosine:")
print(df_time_dosing123_Miltefosine)
print("\nOutput for df_time_milteosine1:")
print(df_time_milteosine1)
print("\nOutput for df_time_milteosine1_M:")
print(df_time_milteosine1_M)

ValueError: Length of values (162) does not match length of index (168)

In [45]:

df_time_milteosine1 = df_root[df_root['name']== 'Miltefosine Administration'].sort_values(by='FormFieldInstance Id')
df_time_milteosine1 = df_time_milteosine1[(df_time_milteosine1['Campo']=='Date of dosing') | (df_time_milteosine1['Campo']=='Time of Dosing') | (df_time_milteosine1['Campo']=='Dose (mg)')]
df_time_milteosine = df_time_milteosine1[df_time_milteosine1['Campo']=='Time of Dosing']
df_time_milteosine['date_ex_to_join'] =  df_time_milteosine1[df_time_milteosine1['FormFieldInstance Id'].isin(df_time_milteosine['FormFieldInstance Id'] - 1) & (df_time_milteosine1['Campo'] == 'Date of dosing')]['Valor'].values
df_time_milteosine = df_time_milteosine[df_time_milteosine['Valor'].str.split(':').str[0] != '00']
df_time_milteosine['time_dosing_miltefosine_administration'] = df_time_milteosine.groupby(['Participante', 'date_ex_to_join'])['Valor'].transform(lambda x: x.min())
df_time_milteosine =df_time_milteosine[['Participante','date_ex_to_join', 'time_dosing_miltefosine_administration']].drop_duplicates()
df_time_milteosine = df_time_milteosine.rename(columns={'Participante':'Subject'})

C:\Users\sebastian sossa\AppData\Local\Temp\ipykernel_26580\2416162564.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_time_milteosine['date_ex_to_join'] =  df_time_milteosine1[df_time_milteosine1['FormFieldInstance Id'].isin(df_time_milteosine['FormFieldInstance Id'] - 1) & (df_time_milteosine1['Campo'] == 'Date of dosing')]['Valor'].values

In [46]:
df_time_milteosine

      Subject date_ex_to_join time_dosing_miltefosine_administration
17449  011002     20-FEB-2024                                  08:30
17474  011002     21-FEB-2024                                  08:30
17477  011002     22-FEB-2024                                  08:30
17480  011002     23-FEB-2024                                  08:39
17483  011002     24-FEB-2024                                  08:30
17486  011002     25-FEB-2024                                  08:30
17489  011002     26-FEB-2024                                  08:30
17492  011002     27-FEB-2024                                  08:30
17495  011002     28-FEB-2024                                  08:30
17498  011002     29-FEB-2024                                  08:30
17501  011002     01-MAR-2024                                  08:30
17504  011002     02-MAR-2024                                  08:30
17507  011002     03-MAR-2024                                  08:30
17509  011002     04-MAR-2024                                  08:30
17512  011002     05-MAR-2024                                  08:05
17530  011002     06-MAR-2024                                  07:45
17535  011002     07-MAR-2024                                  07:30
17542  011002     08-MAR-2024                                  07:32
17545  011002     09-MAR-2024                                  07:30
17548  011002     10-MAR-2024                                  07:35
17551  011002     11-MAR-2024                                  07:30
18240  011002     12-MAR-2024                                  12:40
18242  011002     13-MAR-2024                                  05:06
18245  011002     14-MAR-2024                                  05:30
18248  011002     15-MAR-2024                                  06:00
18251  011002     16-MAR-2024                                  06:00
18254  011002     17-MAR-2024                                  06:03
18257  011002     18-MAR-2024                                  07:00
18262  011005     20-MAR-2024                                  08:00
18265  011005     21-MAR-2024                                  08:20
18268  011005     22-MAR-2024                                  08:25
18300  011005     23-MAR-2024                                  09:11
18303  011005     24-MAR-2024                                  09:45
18306  011005     25-MAR-2024                                  09:50
18307  011005     26-MAR-2024                                  10:50
18310  011005     27-MAR-2024                                  10:52
18313  011005     28-MAR-2024                                  10:02
18316  011005     29-MAR-2024                                  10:00
18319  011005     30-MAR-2024                                  10:32
18322  011005     31-MAR-2024                                  10:40
18325  011005     01-APR-2024                                  10:50
18328  011005     02-APR-2024                                  09:27
18331  011005     03-APR-2024                                  08:05
18334  011005     04-APR-2024                                  08:47
18340  011005     05-APR-2024                                  08:10
18343  011005     06-APR-2024                                  08:30
18346  011005     07-APR-2024                                  08:40
18374  011005     08-APR-2024                                  08:30
18377  011005     09-APR-2024                                  08:24
18380  011005     10-APR-2024                                  08:30
18383  011005     11-APR-2024                                  08:20
18386  011005     12-APR-2024                                  08:30
18389  011005     13-APR-2024                                  08:40
18392  011005     14-APR-2024                                  08:25
18395  011005     15-APR-2024                                  08:20
18398  011005     16-APR-2024                                  08:10

In [97]:
df_CPG_administration_max_date_visit

      Participante      Valor
2904        011001 2023-11-28
13629       011003 2024-04-02
13642       011004 2024-04-02
13655       011006 2024-04-03

In [38]:
ids_hu = [
27006,
27528,
29477,
30781,
41105,
41190,
43576,
51622,
58640,
65511,
66713,
67948
]

df_root[df_root['FormFieldInstance Id'].isin(ids_hu)]['TypeQuery']

3904     -
4029     -
4617     -
4993     -
7511     -
7571     -
8266     -
9592     -
10606    -
11481    -
11894    -
12223    -
Name: TypeQuery, dtype: object

In [3]:
df_cpg_dose_mg = df_root[df_root['name']=='CpG ODN D35 Administration']
df_cpg_dose_mg = df_cpg_dose_mg[['Visit','Participante', 'Campo', 'Valor', 'Variable' ]]
df_cpg_dose_mg = df_cpg_dose_mg[(df_cpg_dose_mg['Variable'] == 'ECCPGDOS')]
df_cpg_dose_mg = df_cpg_dose_mg[df_cpg_dose_mg['Valor'].astype('float') != 0.0]
df_cpg_dose_mg = df_cpg_dose_mg[['Participante', 'Valor']]
df_cpg_dose_mg = df_cpg_dose_mg.rename(columns={'Participante':'Subject', 'Valor':'cpg_dose_mg'})

C:\Users\sebastian sossa\AppData\Local\Temp\ipykernel_33376\2426843232.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cpg_dose_mg['cpg_dose_mg'] =  df_cpg_dose_mg1[df_cpg_dose_mg1['FormFieldInstance Id'].isin(df_cpg_dose_mg['FormFieldInstance Id'] + 2) & (df_cpg_dose_mg1['Campo'] == 'Dose (mg)')]['Valor'].values

In [ ]:
df_cpg_dose_mg

      Subject date_dosing_CPG cpg_dose_mg
2613   011001     31-OCT-2023         7.5
2898   011001     14-NOV-2023         7.5
2904   011001     28-NOV-2023         7.5
13623  011003     19-MAR-2024         7.5
13629  011003     02-APR-2024         7.5
13636  011004     19-MAR-2024         7.5
13642  011004     02-APR-2024         7.5
13649  011006     20-MAR-2024         7.5
13655  011006     03-APR-2024         7.5

In [19]:
df_time_milteosine

,Id Form,idCampo,Site,Visit,name,Genero,AñoNacimiento,NameActividad,activityState,fecha enrolado,Participante,Estado del Participante,identifierPrefix,Id Activityins,FormFieldInstance Id,Estado del campo,Campo,Valor,displayName,id option,Variable,visible,required,TipoDato,TypeQuery,MessageQuery,QueryState,vistaPrincipal.IdSubject
2613,25,850,-,-,CpG ODN D35 Administration,Male,-,CpG ODN D35 Administration,DATA_VERIFIED,-,011001,STUDY_COMPLETED,-,430,17797,VERIFIED,Date of dosing,31-OCT-2023,-,-,ECCPGDAT,NaN,1,DATE,-,-,-,1
2898,25,850,-,-,CpG ODN D35 Administration,Male,-,CpG ODN D35 Administration,DATA_VERIFIED,-,011001,STUDY_COMPLETED,-,430,21664,VERIFIED,Date of dosing,14-NOV-2023,-,-,ECCPGDAT,NaN,1,DATE,-,-,-,1
2904,25,850,-,-,CpG ODN D35 Administration,Male,-,CpG ODN D35 Administration,DATA_VERIFIED,-,011001,STUDY_COMPLETED,-,430,21678,VERIFIED,Date of dosing,28-NOV-2023,-,-,ECCPGDAT,NaN,1,DATE,-,-,-,1
13623,25,850,-,-,CpG ODN D35 Administration,Male,-,CpG ODN D35 Administration,DATA_ENTRY_COMPLETE,-,011003,ENROLLED,-,1863,77723,COMPLETED,Date of dosing,19-MAR-2024,-,-,ECCPGDAT,NaN,1,DATE,-,-,-,7
13629,25,850,-,-,CpG ODN D35 Administration,Male,-,CpG ODN D35 Administration,DATA_ENTRY_COMPLETE,-,011003,ENROLLED,-,1863,77730,COMPLETED,Date of dosing,02-APR-2024,-,-,ECCPGDAT,NaN,1,DATE,-,-,-,7
13636,25,850,-,-,CpG ODN D35 Administration,Male,-,CpG ODN D35 Administration,DATA_ENTRY_COMPLETE,-,011004,ENROLLED,-,1864,77753,COMPLETED,Date of dosing,19-MAR-2024,-,-,ECCPGDAT,NaN,1,DATE,-,-,-,8
13642,25,850,-,-,CpG ODN D35 Administration,Male,-,CpG ODN D35 Administration,DATA_ENTRY_COMPLETE,-,011004,ENROLLED,-,1864,77760,COMPLETED,Date of dosing,02-APR-2024,-,-,ECCPGDAT,NaN,1,DATE,-,-,-,8
13649,25,850,-,-,CpG ODN D35 Administration,Male,-,CpG ODN D35 Administration,DATA_ENTRY_COMPLETE,-,011006,ENROLLED,-,1865,77783,COMPLETED,Date of dosing,20-MAR-2024,-,-,ECCPGDAT,NaN,1,DATE,-,-,-,10
13655,25,850,-,-,CpG ODN D35 Administration,Male,-,CpG ODN D35 Administration,DATA_ENTRY_COMPLETE,-,011006,ENROLLED,-,1865,77790,COMPLETED,Date of dosing,03-APR-2024,-,-,ECCPGDAT,NaN,1,DATE,-,-,-,10

In [ ]:
23-MAR-2024

In [22]:

df_time_milteosine1 = df_root[df_root['name']== 'Miltefosine Administration'].sort_values(by='FormFieldInstance Id')
df_time_milteosine1 = df_time_milteosine1[(df_time_milteosine1['Campo']=='Date of dosing') | (df_time_milteosine1['Campo']=='Time of Dosing')]
df_time_milteosine = df_time_milteosine1[df_time_milteosine1['Campo']=='Date of dosing']
df_time_milteosine['time_dosing_miltefosine_administration'] =  df_time_milteosine1[df_time_milteosine1['FormFieldInstance Id'].isin(df_time_milteosine['FormFieldInstance Id'] + 1) & (df_time_milteosine1['Campo'] == 'Time of Dosing')]['Valor'].values
df_time_milteosine = df_time_milteosine[df_time_milteosine['time_dosing_miltefosine_administration'].str.split(':').str[0] != '00']
df_time_milteosine['min_time_dosing_miltefosine_administration'] = df_time_milteosine.groupby(['Participante', 'Valor'])['time_dosing_miltefosine_administration'].transform(lambda x: x.min())
df_time_milteosine =df_time_milteosine[['Participante','Valor', 'min_time_dosing_miltefosine_administration']].drop_duplicates()
df_time_milteosine = df_time_milteosine.rename(columns={'Participante':'Subject', 'Valor':'date_ex_to_join'})

C:\Users\sebastian sossa\AppData\Local\Temp\ipykernel_33376\3818914059.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_time_milteosine['time_dosing_miltefosine_administration'] =  df_time_milteosine1[df_time_milteosine1['FormFieldInstance Id'].isin(df_time_milteosine['FormFieldInstance Id'] + 1) & (df_time_milteosine1['Campo'] == 'Time of Dosing')]['Valor'].values

In [23]:
df_time_milteosine

      Subject date_ex_to_join min_time_dosing_miltefosine_administration
5663   011002     20-FEB-2024                                      08:30
6183   011002     21-FEB-2024                                      08:30
6195   011002     22-FEB-2024                                      08:30
6207   011002     23-FEB-2024                                      08:39
6219   011002     24-FEB-2024                                      08:30
6231   011002     25-FEB-2024                                      08:30
6243   011002     26-FEB-2024                                      08:30
6255   011002     27-FEB-2024                                      08:30
6267   011002     28-FEB-2024                                      08:30
6279   011002     29-FEB-2024                                      08:30
6291   011002     01-MAR-2024                                      08:30
6305   011002     02-MAR-2024                                      08:30
6317   011002     03-MAR-2024                                      08:30
6329   011002     04-MAR-2024                                      08:30
6341   011002     05-MAR-2024                                      08:05
6768   011002     06-MAR-2024                                      07:45
6849   011002     07-MAR-2024                                      07:30
6902   011002     08-MAR-2024                                      07:32
6914   011002     09-MAR-2024                                      07:30
6926   011002     10-MAR-2024                                      07:35
6938   011002     11-MAR-2024                                      07:30
13026  011002     12-MAR-2024                                      12:40
13034  011002     13-MAR-2024                                      05:06
13046  011002     14-MAR-2024                                      05:30
13058  011002     15-MAR-2024                                      06:00
13070  011002     16-MAR-2024                                      06:00
13082  011002     17-MAR-2024                                      06:03
13096  011002     18-MAR-2024                                      07:00
13108  011002     19-MAR-2024                                      06:30
13173  011005     20-MAR-2024                                      08:00
13185  011005     21-MAR-2024                                      08:20
13197  011005     22-MAR-2024                                      08:25
13661  011005     23-MAR-2024                                      09:11
13673  011005     24-MAR-2024                                      09:45
13685  011005     25-MAR-2024                                      09:50
13697  011005     26-MAR-2024                                      10:50
13709  011005     27-MAR-2024                                      10:52
13721  011005     28-MAR-2024                                      10:02
13733  011005     29-MAR-2024                                      10:00
13745  011005     30-MAR-2024                                      10:32
13757  011005     31-MAR-2024                                      10:40
13769  011005     01-APR-2024                                      10:50
13781  011005     02-APR-2024                                      09:27
13793  011005     03-APR-2024                                      08:05
13805  011005     04-APR-2024                                      08:47

In [ ]:
df_medical_surgical = df_root[df_root['name']== 'Medical Or Surgical History (other than Leishmaniasis)']
df_medical_surgical = df_medical_surgical[['Visit','Participante', 'Campo', 'Valor', 'FormFieldInstance Id']]
df_medical_surgical = df_medical_surgical[df_medical_surgical['Campo']== 'Onset Date/First Diagnosis/Surgery']
df_medical_surgical['Date of start of contraceptive method'] = df_medical_surgical['Valor']
df_medical_surgical = df_medical_surgical[['Participante','Valor', 'Date of start of contraceptive method']]
df_medical_surgical = df_medical_surgical.rename(columns={'Participante':'Subject', 'Valor':'onset_date_medical_contraceptive'})

In [ ]:
df_medical_surgical

,Subject,onset_date_medical_contraceptive,Date of start of contraceptive method
2685,S002,-,-
3490,S005,-,-
4652,011002,22-JUN-2022,22-JUN-2022
4656,011002,UNK-DEC-2023,UNK-DEC-2023

In [ ]:
df_administration_miltefosine = df_root[df_root['name']==  'Miltefosine Administration']
df_administration_miltefosine = df_administration_miltefosine[['Visit','Participante', 'Campo', 'Valor']]
df_administration_miltefosine = df_administration_miltefosine[df_administration_miltefosine['Campo'] == 'Date of dosing']
df_administration_miltefosine['Valor'] = pd.to_datetime(df_administration_miltefosine['Valor'], format='%d-%b-%Y')
max_per_participante = df_administration_miltefosine.groupby('Participante')['Valor'].transform('min')
df_administration_miltefosine = df_administration_miltefosine[df_administration_miltefosine['Valor'] == max_per_participante]
df_administration_miltefosine['Valor'] = pd.to_datetime(df_administration_miltefosine['Valor']).dt.strftime('%d-%b-%Y').str.upper()
df_administration_miltefosine = df_administration_miltefosine[['Participante','Valor']].drop_duplicates()
df_administration_miltefosine = df_administration_miltefosine.rename(columns={'Participante':'Subject', 'Valor':'date_dosing_miltefosine'})

In [ ]:
df_administration_miltefosine

     Subject date_dosing_miltefosine
4660  011002             20-FEB-2024

In [ ]:
df_adverse = df_root[df_root['name']=='Adverse Events']['Participante'].tolist()

In [ ]:
set(df_adverse)

{'011002'}

In [ ]:

df_adverse = df_root[df_root['name']=='Adverse Events']

In [ ]:

dataframe_join_adverse = pd.DataFrame()
for sujeto_adverse in set(df_root[df_root['name']=='Adverse Events']['Participante'].tolist()):

    df_adverse = df_root[df_root['Participante']==sujeto_adverse]
    df_adverse = df_adverse[df_adverse['name']=='Adverse Events']

    df_adverse = df_adverse.sort_values(by=['Instancia'], ascending=True)
    df_adverse = df_adverse.reset_index(drop=True)

    date_indices = df_adverse.index[df_adverse['Campo'] == 'Adverse Event Reported Term'].tolist()
    subdatasets = [df_adverse.iloc[start:end] for start, end in zip(date_indices, date_indices[1:] + [None])]

    for subdataset in subdatasets:

        pru_adverse = subdataset[['Campo', 'Valor']].T
        new_columns_adverse = pru_adverse.iloc[0]
        pru_adverse = pru_adverse[1:].set_axis(new_columns_adverse, axis=1)
        pru_adverse['Subject'] = sujeto_adverse
        pru_adverse = pru_adverse[pru_adverse['Action taken with study treatment (Miltefosine)'].isin([1,2,3,4,5,6,7,8,9,99,'1','2','3','4','5','6','7','8','9','99',1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,99.0 ])]
        pru_adverse =pru_adverse[['Start Date', 'Action taken with study treatment (Miltefosine)']]
        pru_adverse = pru_adverse.rename(columns={'Start Date':'to_join', 'Action taken with study treatment (Miltefosine)': 'Action_taken_miltefosine' })
  
        dataframe_join_adverse = pd.concat([dataframe_join_adverse, pru_adverse], ignore_index=True)

In [ ]:
dataframe_join_adverse

Campo      to_join Action_taken_miltefosine
0      20-FEB-2024                        1
1      21-FEB-2024                        1
2      21-FEB-2024                        1
3      01-MAR-2024                        1
4      07-MAR-2024                        1

In [ ]:
df_concomitant_medication = df_root[df_root['name']== 'Prior And Concomitant Medications']
df_concomitant_medication = df_concomitant_medication[['Visit','Participante', 'Campo', 'Valor', 'Variable' ]]
df_concomitant_medication = df_concomitant_medication[df_concomitant_medication['Variable'].isin(['CMTRT'])]
df_concomitant_medication['concomitant_medication_name'] = df_concomitant_medication.groupby('Participante')['Valor'].transform('count')
df_concomitant_medication = df_concomitant_medication[['Participante', 'concomitant_medication_name']].drop_duplicates()
df_concomitant_medication = df_concomitant_medication.rename(columns={'Participante':'Subject'})

In [ ]:
df_concomitant_medication

     Visit Participante      Campo                 Valor Variable
3492     -         S005  Drug Name            omeprazole    CMTRT
4697     -       011002  Drug Name            omeprazole    CMTRT
4709     -       011002  Drug Name           Trimebutine    CMTRT
5007     -       011002  Drug Name  calendula suspension    CMTRT
5033     -       011002  Drug Name            omeprazole    CMTRT
5043     -       011002  Drug Name  calendula suspension    CMTRT
5053     -       011002  Drug Name             Bilastine    CMTRT

In [ ]:
dic = {datetime.datetime(2024, 2, 20, 0, 0): ['00:30:00'], datetime.datetime(2024, 2, 21, 0, 0): ['00:30:00'], datetime.datetime(2024, 2, 22, 0, 0): ['00:30:00'], datetime.datetime(2024, 2, 23, 0, 0): ['00:30:00'], datetime.datetime(2024, 2, 24, 0, 0): ['00:30:00'], datetime.datetime(2024, 2, 25, 0, 0): ['00:30:00'], datetime.datetime(2024, 2, 26, 0, 0): ['00:30:00'], datetime.datetime(2024, 2, 27, 0, 0): ['00:30:00'], datetime.datetime(2024, 2, 28, 0, 0): ['00:30:00'], datetime.datetime(2024, 2, 29, 0, 0): ['00:30:00'], datetime.datetime(2024, 3, 1, 0, 0): ['00:30:00'], datetime.datetime(2024, 3, 2, 0, 0): ['00:30:00'], datetime.datetime(2024, 3, 3, 0, 0): ['00:30:00'], datetime.datetime(2024, 3, 4, 0, 0): ['00:30:00'], datetime.datetime(2024, 3, 5, 0, 0): ['08:05:00', '15:52:00', '23:32:00'], datetime.datetime(2024, 3, 6, 0, 0): ['07:45:00', '15:31:00', '23:30:00'], datetime.datetime(2024, 3, 7, 0, 0): ['07:30:00', '15:30:00', '23:29:00'], datetime.datetime(2024, 3, 8, 0, 0): ['07:32:00', '15:29:00', '23:30:00'], datetime.datetime(2024, 3, 9, 0, 0): ['07:30:00', '15:31:00', '23:30:00'], datetime.datetime(2024, 3, 10, 0, 0): ['07:35:00', '15:33:00', '23:30:00'], datetime.datetime(2024, 3, 11, 0, 0): ['07:30:00', '15:31:00', '23:30:00'], datetime.datetime(2024, 3, 12, 0, 0): ['12:40:00', '20:37:00'], datetime.datetime(2024, 3, 13, 0, 0): ['05:06:00', '13:00:00', '20:40:00'], datetime.datetime(2024, 3, 14, 0, 0): ['05:30:00', '13:16:00', '20:50:00'], datetime.datetime(2024, 3, 15, 0, 0): ['06:00:00', '14:00:00', '22:02:00'], datetime.datetime(2024, 3, 16, 0, 0): ['06:00:00', '13:50:00', '22:00:00'], datetime.datetime(2024, 3, 17, 0, 0): ['06:03:00', '14:00:00', '22:00:00'], datetime.datetime(2024, 3, 18, 0, 0): ['06:01:00', '14:00:00', '22:45:00'], datetime.datetime(2024, 3, 19, 0, 0): ['06:30:00']}

NameError: name 'datetime' is not defined